# Python virtual environment
venv/
.venv/
env/

# Python caching & bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.local

# OS specific files
.DS_Store
Thumbs.db

# HuggingFace & machine learning cache files
.huggingface/
.model/